<nav id="header-links">
    <img src="/img/logo.gif" alt="hacker news logo" onclick="window.location='/'">
    <a href="/">Hacker News</a>   
    <a href="/newest">new</a>|
    <a href="/newcomments">comments</a>|
    <a href="/show">show</a>|
    <a href="/ask">ask</a>|
    <a href="/jobs">jobs</a>|
    <a href="/submit">submit</a>
    <a id="login-link" href="/login?goto=">login</a>
</nav>

