<header>
  <nav id="header-links">
    <img src="/img/logo.gif" alt="hacker news logo">
    <h1>Hacker News</h1>   
    <a href="#">new</a>|
    <a href="#">comments</a>|
    <a href="#">show</a>|
    <a href="#">ask</a>|
    <a href="#">jobs</a>|
    <a href="#">submit</a>
    <a id="login-link" href="">login</a>
  </nav>
</header>

