<table>
<form>
    <tr>
        <td>
            <p>Title:</p>
        </td>
        <td>
            <input type="text" name="title" size=50>
        </td>
    </tr>
    <tr>
        <td>
            <p>Url: </p>
        </td>
        <td>
            <input type="text" name="url" size=50>
        </td>
    </tr>
    <tr>
        <td>
            <p>Text:</p>
        </td>
        <td>
            <textarea name="text" rows="4" cols="49"></textarea>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <button type="submit">Submit</button>
        </td>
    </tr>
</form>
</table>