<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <main>
    <% var counter = 0; %>
        <table>
            <tbody>
                <% contributions.forEach((contribution) => { %>
                                    <% console.log(contribution); %>
                    <% include ../partials/singleContribution.ejs %>
                <% }); %>
            </tbody>
        </table>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>