<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <main>
      <div>
        <h1>Aquesta es la pagina de hacker news. Prova</h1>
      </div> 
  </main>  
</body>
</html>
