<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <main>
    
    <fieldset>
        <form action="login" method="POST">
        <legend>Login</legend>
        <input type="text" hidden name="goto" value="<%=goto%>">
        <div>
          <label for="username">username: </label>
          <input type="text" name="username" id="username">
        </div>
        <div>
          <label for="password">password: </label>
          <input type="password" name="password" id="password">
        </div>
        <button type="submit">login</button>
        <a href="#">Forgot your password?</a>
      </form>
    </fieldset>
    <fieldset>
      <form action="login" method="POST">
        <legend>Create account</legend>
        <% if (typeof goto !== 'undefined') { %>
        <input type="text" hidden name="goto" value="<%=goto%>">
        <% } %>
        <div>
            <label for="username">username: </label>
            <input type="text" name="username" id="username">
          </div>
          <div>
            <label for="password">password: </label>
            <input type="password" name="password" id="password">
          </div>
          <button type="submit">create account</button>
      </form>
      <a href="<%= githubUrl %>">Login with Github</a>
      
    </fieldset>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>
