<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <header>
        <% include ../partials/nav.ejs %>
    </header>
    <main>
        <% var counter = 0; %>
        <table>
            <tbody>
                <% contributions.forEach((contribution) => { %>
                    <tr>
                        <td> <% counter += 1 %>  </td>
                        <td class="votelink">
                            <a id="" href="#">
                                <img src="https://news.ycombinator.com/grayarrow.gif" class="votearrow" title="upvote"></img>
                            </a>
                        </td>
                        <td class="athing">
                            <%= contribution.title %>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="subtext">
                            <span><%= contribution.upvoted.length %> Points by <%= contribution.user.username %></span>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
    <% include ../partials/footer.ejs %>
</body>

</html>