<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header>
    <% include ../partials/nav.ejs %>
  </header>
  <main>
    <!-- EL CODI DE LA PAGINA-->
    <% include ../partials/submit_form.html %> 
  </main>
    <% include ../partials/footer.ejs %>
</body>
</html>